/* Общие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #f5f5f5;
  color: #222;
}

/* Верхняя панель */
.navbar {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 18px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Логотип */
.logo {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.5px;
}

/* Навигация */
.nav-links {
  display: flex;
  gap: 36px;
}

.nav-links a {
  text-decoration: none;
  color: #222;
  font-size: 15px;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: #555;
}

/* Кнопка */
.get-template {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 35px;
  padding: 15px 25px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-left: -375px;
}

.get-template:hover {
  /* Градиент */
  background: linear-gradient(270deg, #ff6b00, #ff00b8, #00bfff);
  background-size: 600% 600%; /* важная штука для анимации */

  /* Анимация */
  animation: gradientShift 6s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.hero {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background-color: #f2eeea;
  padding: 4rem 8%;
  flex-wrap: wrap;
}

.hero-content {
  flex: 1 1 450px;
  max-width: 600px;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-subtitle {
  font-size: 0.9rem;
  letter-spacing: 2px;
  color: #888;
  margin-bottom: 1rem;
}

.hero-title {
  font-size: 3rem;
  line-height: 1.2;
  color: #1a1a1a;
  margin-bottom: 1.5rem;
}

.hero-text {
  color: #444;
  font-size: 1rem;
  line-height: 1.7;
  margin-bottom: 2rem;
}

.hero-link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  border-bottom: 1px solid #000;
  width: fit-content;
  transition: all 0.3s ease;
}

.hero-link:hover {
  color: #666;
  border-color: #666;
}

.hero-image {
  flex: 1 1 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
}
.hero-item {
  color: #ffffff;
  width: 1440px;
  height: 720px;
}
.hero-item-title {
  color: #000000;
  width: 134px;
  height: 38px;
  margin-left: 336px;
}
